#!/usr/bin/make -f
export DH_VIRTUALENV_INSTALL_ROOT=/usr/share
%:
	dh $@ --with python-virtualenv
override_dh_virtualenv:
	dh_virtualenv --python python3

.PHONY: override_dh_strip override_dh_shlibdeps

override_dh_strip:
	dh_strip -Xcffi -Xpillow.libs -Xlibscipy_openblas -Xnumpy -XPIL -Xscipy

override_dh_shlibdeps:
	dh_shlibdeps -X/x86/ -XQt6 -Xnumpy.libs -Xscipy.libs -Xmatplotlib.libs -Xpillow.libs --dpkg-shlibdeps-params=--ignore-missing-info 
